<h1>Depoimentos</h1>

<section id="depoimentos">{{itens}}</section>
<hr />
<section>
  <h3>Envie o seu depoimento</h3>
  <form method="post" action="?page=1">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" name="nome" required />
    </div>
    <div class="form-group">
      <label>Mensagem</label>
      <textarea name="mensagem" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group mt -3">
      <button class="btn btn-success">Enviar</button>
    </div>
  </form>
</section>
